.following{
    position: absolute;
    z-index:2;
    background-color: rgb(240, 210, 170);
    display:flex;
    flex-direction: column;
    height: 70vh;
    width: 30vw;
    border-radius: 20px;
    margin: 15vh 35vw;
    overflow: auto;
    box-shadow: 0 3px 10px black
}

.titleDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 12vw;
    margin-right:2vw;
}

.title{
    margin-top:2vh;
}
.exitCross{
    background-color: white;
    padding:1vh;
    border-radius:50%;
    height: 5vh;
    width:2.5vw;
}
.userInfo{
    margin-left:2vw;
}
.eachUser{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top:2vh;
}
.unFollow{
    margin-right: 2vw;
    height:4vh;
    width:8vw;
}

.userImage{
    
    border-radius: 50%;
    height: 8vh;
    width:4vw;
}

.userName{
    margin-left:1vw;
}
.link{
    text-decoration: none;
}