/*  .create{
    display: flex;
    position: absolute;
    height: 50vh;
    flex-direction: row;
    padding-top: 50px;
    z-index: 4;
    padding-left:77%;
  } */
.firstDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
  padding-right: 25px;

}
.firstDivImg1 {
  height: 60vh;
  padding-top: 50px;
  display: flex;
  z-index: 3;
}
.firstDivImg2{
padding-top: 150px;
  display: flex;
  position: absolute;
  z-index: 4;
  padding-left: 1300px;
  padding-bottom: 50px;
  height: 40vh;
}

.firstDiv > p {
  font-size: 45px;
  z-index: 10;
}
.secondDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.secondDiv > img {
  height: 70vh;
}

.thirdDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.thirdDiv > img {
  height: 70vh;
}
.secondDivImg1{
  height: 60vh;
  padding-top: 50px;
  display: flex;
  z-index: 3;
}

.secondDivImg2{
  padding-top: 150px;
  display: flex;
  position: absolute;
  z-index: 4;
  padding-left: 1300px;
  padding-bottom: 50px;
  height: 40vh;
}
