/*  .create{
    display: flex;
    position: absolute;
    height: 50vh;
    flex-direction: row;
    padding-top: 50px;
    z-index: 4;
    padding-left:77%;
  } */
.firstDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-right: 25px;
  background-color: rgba(0, 255, 255, 0.33);
  height: 60vh;
}
.firstDivImg1 {
  height: 50vh;
  padding-top: 50px;
  display: flex;
  z-index: 3;
}
.firstDivImg2 {
  padding-top: 100px;
  display: flex;
  position: absolute;
  z-index: 4;
  padding-left: 1400px;
  padding-bottom: 50px;
  height: 40vh;
}

.firstDiv > p {
  font-size: 45px;
  z-index: 10;
}
.secondDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(238, 195, 6, 0.574);
  height: 80vh;
}

.secondDivImg1 {
  position: absolute;
  z-index: 1;
  height: 25vh;
    top: 266vh;
  left:23vw;
  border-radius: 25px 25px;
}

.secondDivImg2 {
  position:absolute;
  z-index: 2;
  top:230vh;
  left:10vw;
  height: 50vh;
  width:16vw;
  border-radius: 25px;
  /* z-index: 4; */
  /*   border-radius: 10px 100px / 120px; */
}
.secondDivImg3 {
  position: absolute;
  top: 225vh;
  height: 25vh;
  width: 18vw;
  left: 23vw;
  border-radius: 40px;
  /*  z-index: 2; */
  /* border-radius: 50px; */
}
.secondDivImg4{
  position: absolute;
  top: 225vh;
  height: 25vh;
  width: 18vw;
  left: 23vw;
  border-radius: 40px;
  z-index: 3;
}
.secondDiv > p {
  font-size: 45px;
  padding-left: 50vw;
  padding-right: 10vw;
}
.thirdDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(89, 0, 173, 0.473);
  height: 60vh;
  z-index: 2;
}
.thirdDiv > p {
  z-index: 5;
  font-size: 45px;
}
.thirdDiv > img {
  height: 50vh;
}

