/*  .create{
    display: flex;
    position: absolute;
    height: 50vh;
    flex-direction: row;
    padding-top: 50px;
    z-index: 4;
    padding-left:77%;
  } */
.firstDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
  padding-right: 25px;
  background-color: rgba(0, 255, 255, 0.33);
  height: 60vh;

  padding-right: 25px;
  background-color: rgba(0, 255, 255, 0.33);
  height: 60vh;
}
.firstDivImg1 {
  height: 50vh;
  padding-top: 50px;
  display: flex;
  z-index: 3;
}
.firstDivImg2{
padding-top: 100px;
  display: flex;
  position: absolute;
  z-index: 4;
  padding-left: 1400px;
  padding-bottom: 50px;
  height: 40vh;
}

.firstDiv > p {
  font-size: 45px;
  z-index: 10;
}
.secondDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(238, 195, 6, 0.574);
  height: 60vh;
}



.secondDivImg1{
  height: 50vh;
  padding-top: 50px;
  display: flex;
  z-index: 3;
  padding-left: 20px;
  
}

.secondDivImg2{
  padding-top: 250px;
  display: flex;
  position: absolute;
  z-index: 4;
  padding-left: 50px;
  padding-bottom: 50px;
  height: 80vh;
  z-index: 3;
}
.secondDivImg3{
  display: flex;
  position:absolute;
  padding-left: 150px;
  padding-bottom: 80px;
  height: 40vh;
  z-index: 4;
  border-radius: 5%;
}
.secondDiv > p{
  z-index: 5;
  font-size: 45px ;
}
.thirdDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(89, 0, 173, 0.473);
  height: 60vh;
  z-index: 2;
  
}
.thirdDiv > p{
  z-index: 5;
  font-size: 45px;
}
.thirdDiv > img {
  height: 50vh;
}
.secondDiv >p {
  font-size: 45px;
  z-index: 10;
}